name: Dartotsu Build Workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build_targets:
        description: "Select platforms to build"
        required: true
        type: choice
        options:
          - "all"
          - "android"
          - "windows"
          - "linux"
          - "ios"
          - "macos"
      clean_build:
        description: "Clean build?"
        required: false
        type: boolean
        default: false
      ping_discord:
        description: "Ping Discord role?"
        required: false
        type: boolean
        default: false

env:
  FLUTTER_VERSION: 3.35.7

jobs:
  anchors:
    if: ${{ false }}
    runs-on: ubuntu-latest
    steps:
      - &checkout
        name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - &prepare_flutter
        name: Prepare Flutter version
        shell: bash
        env:
          FLUTTER_VERSION_SECRET: ${{ secrets.FLUTTER_VERSION }}
        run: |
          if [ -n "${FLUTTER_VERSION_SECRET}" ]; then
            echo "FLUTTER_VERSION=${FLUTTER_VERSION_SECRET}" >> $GITHUB_ENV
          else
            echo "FLUTTER_VERSION=${FLUTTER_VERSION}" >> $GITHUB_ENV
          fi

      - &setup_flutter
        name: Setup Flutter
        id: setup-flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - &cache_flutter_normal
        name: Cache Flutter dependencies (normal)
        if: ${{ !contains(github.event.head_commit.message, '[clean]') && !inputs.clean_build }}
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.setup-flutter.outputs.pub-cache-path }}
            build/
            .dart_tool/
          key: v1-${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.lock', '**/pubspec.yaml') }}
          restore-keys: |
            v1-${{ runner.os }}-flutter-
            clean-v1-${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.lock', '**/pubspec.yaml') }}

      - &cache_flutter_clean
        name: Cache Flutter dependencies (clean)
        if: contains(github.event.head_commit.message, '[clean]') || inputs.clean_build
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.setup-flutter.outputs.pub-cache-path }}
            build/
            .dart_tool/
          key: clean-v1-${{ runner.os }}-flutter-${{ hashFiles('**/pubspec.lock', '**/pubspec.yaml') }}

      - &setup_env
        name: Setup env File
        env:
          SIMKL_SECRET: ${{ secrets.SIMKL_SECRET }}
        shell: bash
        run: |
          echo "SIMKL_SECRET=$SIMKL_SECRET" > .env
          GIT_HASH=$(git rev-parse --short HEAD)
          echo "hash=$GIT_HASH" >> .env

  build_android:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && (contains(github.event.head_commit.message, '[build.apk]') || contains(github.event.head_commit.message, '[build]') || contains(github.event.head_commit.message, '[build.all]'))) ||
      (github.event_name == 'workflow_dispatch' && (inputs.build_targets == 'android' || inputs.build_targets == 'all'))
    permissions:
      contents: write
      pull-requests: read
      actions: read

    steps:
      - *checkout
      # Free up disk space FIRST to prevent "No space left on device" error
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/local/lib/android/sdk/ndk
          sudo rm -rf /usr/share/swift
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/share/miniconda
          sudo rm -rf /usr/lib/google-cloud-sdk
          sudo rm -rf /opt/hostedtoolcache
          sudo docker image prune --all --force
          sudo rm -rf /usr/local/lib/android/sdk/build-tools/33.0.0
          sudo rm -rf /usr/local/lib/android/sdk/build-tools/33.0.1
          sudo rm -rf /usr/local/lib/android/sdk/build-tools/33.0.2
          sudo rm -rf /usr/local/lib/android/sdk/build-tools/34.0.0
          sudo apt-get clean
          sudo apt-get autoremove -y
          df -h
      - *prepare_flutter
      - *setup_flutter
      - name: Add Flutter to PATH
        shell: bash
        run: |
          echo "/opt/hostedtoolcache/flutter/stable-${{ env.FLUTTER_VERSION }}-x64/bin" >> $GITHUB_PATH
          echo "/home/runner/.pub-cache/bin" >> $GITHUB_PATH
      - *cache_flutter_normal
      - *cache_flutter_clean
      - name: Cache Gradle dependencies (normal)
        if: ${{ !contains(github.event.head_commit.message, '[clean]') && !inputs.clean_build }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: v1-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            v1-${{ runner.os }}-gradle-
            clean-v1-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
      - name: Cache Gradle dependencies (clean)
        if: contains(github.event.head_commit.message, '[clean]') || inputs.clean_build
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: clean-v1-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: "3.18.1"
      - name: Install system dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build
      - name: Create symlink for ninja
        run: |
          mkdir -p /usr/local/lib/android/sdk/cmake/3.18.1/bin
          sudo ln -s /usr/bin/ninja /usr/local/lib/android/sdk/cmake/3.18.1/bin/ninja

      - uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: "17"

      - name: Download keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.APK_SIGN }}
        run: echo "$KEYSTORE_BASE64" | base64 --decode > android/app/dartotsu.jks

      - name: Set up signing variables
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS}}
        run: |
          echo "storePassword=$KEYSTORE_PASSWORD" > android/key.properties
          echo "keyPassword=$KEY_PASSWORD" >> android/key.properties
          echo "keyAlias=$KEY_ALIAS" >> android/key.properties
          echo "storeFile=dartotsu.jks" >> android/key.properties
      - *setup_env
      - name: Configure Gradle
        run: |
          mkdir -p ~/.gradle
          echo "org.gradle.daemon=true" >> ~/.gradle/gradle.properties
          echo "org.gradle.parallel=true" >> ~/.gradle/gradle.properties
          echo "org.gradle.caching=true" >> ~/.gradle/gradle.properties

      - run: $FLUTTER_ROOT/bin/flutter clean
      - run: $FLUTTER_ROOT/bin/flutter pub get
      - run: $FLUTTER_ROOT/bin/dart run build_runner build --delete-conflicting-outputs
      - run: $FLUTTER_ROOT/bin/flutter build apk --debug --split-per-abi
      - run: $FLUTTER_ROOT/bin/flutter build apk --debug

      - name: Rename APKs
        run: |
          for file in build/app/outputs/flutter-apk/app-*-debug.apk; do
            abi=$(basename $file | sed 's/app-\(.*\)-debug.apk/\1/')
            mv $file build/app/outputs/flutter-apk/Dartotsu-Kitsu_Android_${abi}_${{github.ref_name}}.apk
          done
          ls build/app/outputs/flutter-apk

  build_windows:
    runs-on: windows-latest
    if: |
      (github.event_name == 'push' && (contains(github.event.head_commit.message, '[build.windows]') || contains(github.event.head_commit.message, '[build.all]'))) ||
      (github.event_name == 'workflow_dispatch' && (inputs.build_targets == 'windows' || inputs.build_targets == 'all'))

    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - *checkout

      - name: Set up Signing Tool
        run: |
          mkdir $env:USERPROFILE\certs
          [System.IO.File]::WriteAllBytes("$env:USERPROFILE\certs\Dartotsu.pfx", [Convert]::FromBase64String("${{secrets.PFX_FILE}}"))
      - *setup_env
      - *prepare_flutter
      - *setup_flutter
      - name: Add Flutter to PATH
        shell: pwsh
        run: |
          echo "C:\hostedtoolcache\windows\flutter\stable-${{ env.FLUTTER_VERSION }}\x64\bin" >> $env:GITHUB_PATH
      - *cache_flutter_normal
      - *cache_flutter_clean
      - name: Setup NuGet.exe for use with actions
        uses: NuGet/setup-nuget@v2.0.1
        with:
          nuget-version: "latest"
      - name: Enable Windows desktop support
        run: flutter config --enable-windows-desktop

      - run: flutter clean
      - run: flutter pub get

      - name: Extract Version
        id: get_version
        run: |
          $version = (Get-Content pubspec.yaml | Select-String -Pattern 'version: ([\d.]+)').Matches.Groups[1].Value
          echo "version=$version" >> $env:GITHUB_ENV

      - name: Find Latest SignTool Path
        id: find_signtool
        shell: pwsh
        run: |
          $sdkBins = Get-ChildItem "C:\Program Files (x86)\Windows Kits\10\bin" -Directory | 
                     Where-Object { $_.Name -match '^\d+\.\d+\.\d+\.\d+$' } |  
                     Sort-Object Name -Descending | 
                     Select-Object -First 1
          if (-not $sdkBins) {
            throw "No Windows SDK bin directories found!"
          }
          $signtoolPath = Join-Path $sdkBins.FullName "x64\signtool.exe"
          if (-not (Test-Path $signtoolPath)) {
            throw "signtool.exe not found at $signtoolPath"
          }
          echo "signtool_path=$signtoolPath" >> $env:GITHUB_OUTPUT

      - name: Build and Sign Setup
        run: |
          & dart run inno_bundle:build --sign-tool-params '\"${{ steps.find_signtool.outputs.signtool_path }}\" sign /fd sha256 /f \"C:\Users\runneradmin\certs\Dartotsu.pfx\" /p \"${{secrets.PFX_PASSWORD}}\" /tr http://timestamp.digicert.com /td sha256 /v $f' --release

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Dartotsu-Kitsu-x86_64-${{env.version}}-Installer.exe
          path: build\windows\x64\installer\Release\Dartotsu-Kitsu-x86_64-${{env.version}}-Installer.exe
          retention-days: 7

  build_linux:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'push' && (contains(github.event.head_commit.message, '[build.linux]') || contains(github.event.head_commit.message, '[build.all]') || contains(github.event.head_commit.message, '[build]'))) ||
      (github.event_name == 'workflow_dispatch' && (inputs.build_targets == 'linux' || inputs.build_targets == 'all'))
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - *checkout
      - *prepare_flutter
      - *setup_flutter
      - name: Add Flutter to PATH
        shell: bash
        run: |
          echo "/opt/hostedtoolcache/flutter/stable-${{ env.FLUTTER_VERSION }}-x64/bin" >> $GITHUB_PATH
          echo "/home/runner/.pub-cache/bin" >> $GITHUB_PATH

      - name: Install system dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev webkit2gtk-4.1 libmpv-dev pkg-config fuse

      - *cache_flutter_normal
      - *cache_flutter_clean
      - *setup_env

      - name: Fetch Flutter dependencies
        run: $FLUTTER_ROOT/bin/flutter pub get

      - name: Build Flutter Linux app
        run: $FLUTTER_ROOT/bin/flutter build linux
      - name: Archive app
        uses: thedoctor0/zip-release@master
        with:
          type: "zip"
          filename: Dartotsu-Kitsu_Linux_${{github.ref_name}}.zip
          directory: build/linux/x64/release/bundle

  build_ios:
    runs-on: macos-latest
    if: |
      (github.event_name == 'push' && (contains(github.event.head_commit.message, '[build.ios]') || contains(github.event.head_commit.message, '[build.all]'))) ||
      (github.event_name == 'workflow_dispatch' && (inputs.build_targets == 'ios' || inputs.build_targets == 'all'))
    permissions:
      contents: write

    steps:
      - *checkout
      - *prepare_flutter
      - *setup_flutter
      - name: Add Flutter to PATH
        shell: bash
        run: |
          echo "$HOME/hostedtoolcache/flutter/stable-${{ env.FLUTTER_VERSION }}-x64/bin" >> $GITHUB_PATH
      - *cache_flutter_normal
      - *cache_flutter_clean
      - *setup_env

      - name: Get Dependencies
        run: $FLUTTER_ROOT/bin/flutter pub get
      - name: Build iOS
        run: |
          $FLUTTER_ROOT/bin/flutter build ios --release --no-codesign
          cd build/ios/iphoneos
          rm -rf Payload
          mkdir -p Payload
          cd Payload
          cp -R ../Runner.app .
          cd ..
          zip -r Dartotsu-Kitsu-iOS-${{ github.ref_name }}.ipa Payload

  build_macos:
    runs-on: macos-latest
    if: |
      (github.event_name == 'push' && (contains(github.event.head_commit.message, '[build.macos]') || contains(github.event.head_commit.message, '[build.all]'))) ||
      (github.event_name == 'workflow_dispatch' && (inputs.build_targets == 'macos' || inputs.build_targets == 'all'))
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - *checkout
      - *prepare_flutter
      - *setup_flutter
      - name: Add Flutter to PATH
        shell: bash
        run: |
          echo "$HOME/hostedtoolcache/flutter/stable-${{ env.FLUTTER_VERSION }}-x64/bin" >> $GITHUB_PATH
      - *cache_flutter_normal
      - *cache_flutter_clean
      - *setup_env
      - name: Get Dependencies
        run: $FLUTTER_ROOT/bin/flutter pub get
      - name: Build macOS
        run: $FLUTTER_ROOT/bin/flutter build macos --release
      - name: Create DMG file for macOS Build
        run: |
          mkdir -p build/macos/Release
          hdiutil create -volname "Dartotsu" -srcfolder build/macos/Build/Products/Release/dartotsu-kitsu.app -ov -format UDZO build/macos/Release/Dartotsu-Kitsu-macos-${{github.ref_name}}.dmg
        shell: bash

  sendMessage:
    runs-on: ubuntu-latest
    needs: [build_android, build_windows, build_linux, build_ios, build_macos]
    if: |
      always() && 
      !contains(needs.*.result, 'failure') && 
      !contains(needs.*.result, 'cancelled') &&
      (needs.build_android.result == 'success' ||
       needs.build_windows.result == 'success' ||
       needs.build_linux.result == 'success' ||
       needs.build_ios.result == 'success' ||
       needs.build_macos.result == 'success')
    permissions:
      contents: read
      pull-requests: read
      actions: read
    outputs:
      commit_logs: ${{ steps.set_output.outputs.commit_logs }}
    steps:
      - name: Cloing repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download last SHA artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: dart.yml
          name: last-sha
        continue-on-error: true

      - name: Get Commits Since Last Run
        run: |
          if [ -f last_sha.txt ]; then
            LAST_SHA=$(cat last_sha.txt)
          else
            LAST_SHA=$(git rev-list --max-parents=0 HEAD)
          fi
          echo "Commits since $LAST_SHA:"
          COMMIT_LOGS=$(git log $LAST_SHA..HEAD --pretty=format:"● %s ~%an [֍](https://github.com/${{ github.repository }}/commit/%H)" --max-count=10)
          COMMIT_LOGS="${COMMIT_LOGS//'%'/'%25'}"
          COMMIT_LOGS="${COMMIT_LOGS//$'\n'/'%0A'}"
          COMMIT_LOGS="${COMMIT_LOGS//$'\r'/'%0D'}"
        shell: bash
